In [1]:
# Bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# As Funções

In [2]:
def RegressaoLinear(df):
    # Criando um DataFrame para preencher com as novas informações
    new = pd.DataFrame()

    # Media dos itens
    media_x = df['x'].mean()
    media_y = df['y'].mean()

    # O algoritmo:
    x = [((df['x'][i]) - media_x) for i in range(len(df))]
    x_ao_q = [i**2 for i in x]
    xY = x*df['y']

    soma_x_quadrado = sum(x_ao_q)
    soma_xY = sum(xY)

    a = media_y
    b = soma_xY/soma_x_quadrado

    novo_a = a-(b*media_x)

    # Preechendo o novo DataFrame
    new['x'] = df['x']
    new['y'] = df['y']
    new['xzinho'] = x
    new['x_ao_q'] = x_ao_q
    new['xY'] = xY
    display(new)

    # Para apresentação
    x_sum = sum(df['x'])
    y_sum = sum(df['y'])
    x_medio = df['x'].mean()
    y_medio = df['y'].mean()

    print(f'Elemento A = {a}; Elemento B = {b}')
    print(' ')
    print(f'Médias: x = {x_medio}; y = {y_medio}')
    print(' ')
    print(f'Somatórios: x = {x_sum}; y={y_sum}, x² = {sum(x_ao_q)}; xY = {sum(xY)}')
    print(' ')
    print (f'A expressão final será: {novo_a} + {b}x')

In [3]:
def RegressaoPotencial(df):
    # Criando um DataFrame para preencher com as novas informações
    new = pd.DataFrame()
    df_logs = pd.DataFrame()

    # Pegando os valores dos logs
    log_x = [round(np.log10(i),4) for i in df['x']]
    log_y = [round(np.log10(i),4) for i in df['y']]

    # Data frame com as informações dos logs
    # Na regressão potencial é necessário saber oo log de x e de y, pois é a partir deles que iremos desenvolver os calculos
    df_logs['log_x'] = log_x
    df_logs['log_y'] = log_y

    # Media dos itens
    media_x = round(df_logs['log_x'].mean(),4)
    media_y = round(df_logs['log_y'].mean(),4)

    # O algoritmo:
    x = [(log_x[i] - media_x) for i in range(len(df))]
    x_ao_q = [round(i**2,4) for i in x]
    xY = round(x*df_logs['log_y'],4)

    # Preenchendo o DataFrame com as informações
    new['x'] = df['x']
    new['y'] = df['y']
    new['Log X'] = log_x
    new['Log Y'] = log_y
    new['xzinho'] = x
    new['x_ao_q'] = x_ao_q
    new['xY'] = xY
    display(new)

    # Construindo a expressão
    a = new['Log Y'].mean()
    b = sum(new['xY'])/sum(new['x_ao_q'])
    # É necessário fazer o anti-log do elemento A somente quando estamos fazendo uma regressão potencial
    anti_log_a = 10**(a - b*media_x)
    display(f'A expressão é: y = {round(anti_log_a,4)}x^{round(b,4)}')
    display(f'Somatorio: Log x = {sum(log_x)}; Log y = {sum(log_y)}; x² = {round(sum(x_ao_q),4)}; xY = {round(sum(xY),4)}')

In [4]:
def RegressaoExponencial(df):
    
    # Criando um DataFrame para preencher com as novas informações
    new = pd.DataFrame()
    df_logs = pd.DataFrame()

    # Pegando os valores dos logs
    log_y = [round(np.log10(i),4) for i in df['y']]

    # Data frame com as informações dos logs
    # Na regressão potencial é necessário saber, somente, o log de y
    df_logs['log_y'] = log_y

    # Media dos itens
    media_x = round(df['x'].mean(),4)

    # O algoritmo:
    x = [(df['x'][i] - media_x) for i in range(len(df))]
    x_ao_q = [round(i**2,4) for i in x]
    xY = round(x*df_logs['log_y'],4)

    # Preenchendo o DataFrame com as informações
    new['x'] = df['x']
    new['y'] = df['y']
    new['Log Y'] = log_y
    new['xzinho'] = x
    new['x_ao_q'] = x_ao_q
    new['xY'] = xY

    display(new)

    # Construindo a expressão
    a = new['Log Y'].mean()
    b = sum(new['xY'])/sum(new['x_ao_q'])

    # É necessário fazer o anti-log do elemento A somente quando estamos fazendo uma regressão potencial
    anti_log_a = 10**(a - b*media_x)
    anti_log_b = 10**b
    display(f'A expressão é: y = {round(anti_log_a,4)}x{round(anti_log_b,4)}^x')

    soma_x = df['x'].sum()
    display(f'Somatorio: X = {soma_x}; Log y = {sum(log_y)}; x² = {round(sum(x_ao_q),4)}; xY = {round(sum(xY),4)}')

# Data Frames para testar

In [5]:
df_1 = pd.DataFrame()
df_1['x'] = [20,40,40,30,50,60]
df_1['y'] = [30, 50,60,40,50,55]

RegressaoLinear(df_1)

    x   y  xzinho  x_ao_q      xY
0  20  30   -20.0   400.0  -600.0
1  40  50     0.0     0.0     0.0
2  40  60     0.0     0.0     0.0
3  30  40   -10.0   100.0  -400.0
4  50  50    10.0   100.0   500.0
5  60  55    20.0   400.0  1100.0

Elemento A = 47.5; Elemento B = 0.6

Médias: x = 40.0; y = 47.5

Somatórios: x = 240; y=285, x² = 1000.0; xY = 600.0

A expressão final será: 23.5 + 0.6x

In [6]:
df_2 = pd.DataFrame()
df_2['x'] = [160,200,238,250,280,325,400,455,500]
df_2['y'] = [50,57,66,68,70,74,77,79,80]

In [10]:
df_3 = pd.DataFrame()
df_3['x'] = [20,40,30,50,60]
df_3['y'] = [30,50,60,40,50]

RegressaoExponencial(df_3)

    x   y   Log Y  xzinho  x_ao_q      xY
0  20  30  1.4771   -20.0   400.0 -29.542
1  40  50  1.6990     0.0     0.0   0.000
2  30  60  1.7782   -10.0   100.0 -17.782
3  50  40  1.6021    10.0   100.0  16.021
4  60  50  1.6990    20.0   400.0  33.980

'A expressão é: y = 34.9945x1.0062^x'

'Somatorio: X = 200; Log y = 8.2554; x² = 1000.0; xY = 2.677'

# Exercicio para entregar

In [8]:
# Questão 1
df_q1 = pd.DataFrame()
df_q1['x'] = [1,2,3,4,5,6]
df_q1['y'] = [112,149,238,354,580,876]

RegressaoExponencial(df_q1)

   x    y   Log Y  xzinho  x_ao_q      xY
0  1  112  2.0492    -2.5    6.25 -5.1230
1  2  149  2.1732    -1.5    2.25 -3.2598
2  3  238  2.3766    -0.5    0.25 -1.1883
3  4  354  2.5490     0.5    0.25  1.2745
4  5  580  2.7634     1.5    2.25  4.1451
5  6  876  2.9425     2.5    6.25  7.3562

'A expressão é: y = 68.3455x1.5245^x'

'Somatorio: X = 21; Log y = 14.8539; x² = 17.5; xY = 3.2047'

In [9]:
# Questão 2
df_q2 = pd.DataFrame()
df_q2['x'] = [1,2,3,4,5,6,7,8,9]
df_q2['y'] = [83,81.3,80.7,79,78.2,77.5,77,76.9,76.9]

RegressaoPotencial(df_q2)

   x     y   Log X   Log Y  xzinho  x_ao_q      xY
0  1  83.0  0.0000  1.9191 -0.6178  0.3817 -1.1856
1  2  81.3  0.3010  1.9101 -0.3168  0.1004 -0.6051
2  3  80.7  0.4771  1.9069 -0.1407  0.0198 -0.2683
3  4  79.0  0.6021  1.8976 -0.0157  0.0002 -0.0298
4  5  78.2  0.6990  1.8932  0.0812  0.0066  0.1537
5  6  77.5  0.7782  1.8893  0.1604  0.0257  0.3030
6  7  77.0  0.8451  1.8865  0.2273  0.0517  0.4288
7  8  76.9  0.9031  1.8859  0.2853  0.0814  0.5380
8  9  76.9  0.9542  1.8859  0.3364  0.1132  0.6344

'A expressão é: y = 83.487x^-0.0396'

'Somatorio: Log x = 5.5598; Log y = 17.0745; x² = 0.7807; xY = -0.0309'

# Questões da prova